.ImageContainer{
    background-image: url(../Images/interior.jpg);
    height: 200px;
}
.center{
    padding-top: 50px;
	color: white;
	font-size: 34px;
	text-align: center;
}
.infomation{

    margin-top: 2%;
    align-items: center;
  
}
.chef{
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: row nowrap;
}
.chef-img{
    align-items: center;
}
.chef-word{
    align-items: center;
    text-align: center;
}