.comm{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.comm-info{
    align-items: center;
    text-align: center;  
}
.opening-img{
    background-image: url(../Images/phone.jpg);
    height: 200px; 
}
.center{
    padding-top: 50px;
	color: white;
	font-size: 34px;
	text-align: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
  }
  fieldset{
      width: 100%;
      text-align: center;
      align-items: center;
      border-radius: 10px;
  }
  input[type], textarea {
      background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    border: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit]{
      width: 50%;
      cursor: pointer;
      font-size: large;
      font-weight: bolder;
      background-color: #202020;
      color: #BBA14F;
  }