.menu-intro{
   background-image: url(../Images/menu-bar.jpg);
   height: 200px;
}
.center{
    padding-top: 50px;
	color: white;
	font-size: 34px;
	text-align: center;
}
.menu-container{
  display: flex;
  flex-direction: row; 
  flex-flow: row nowrap;
  width: 100%;
  max-width: 1500px;
  justify-content: space-around;
}
.items{
    border-style:hidden ;
    background-color: whitesmoke;
    display: flex;
    flex: 25%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;   
}

.drinks-img{
    width: 300px;
    height: 300px;
}
