.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    background-color: teal;
    color:white;
}
.navbar_toggle{
    display: none;
}
/*LOGO*/
.logo{
    font-size: 32px;
}
/*NAVBAR CONTENT*/
li{
    list-style: none;
}
.container{
    display: flex;
    flex-flow: row nowrap;
	width: 100%;
	max-width: 1500px;
	justify-content: space-around;
	align-items: center;
}
.left-container,
.right-container {
	display: flex;
	flex-flow: row nowrap;
	width: 300px;
	z-index: 1;
}
.left-container{
    justify-content: flex-start;
}
.right-container{
    justify-content: flex-end;
}
.content_nav, .left-class{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
	flex-basis: 300px;
	align-items: center;
}
.login-link{
    padding: 6px;
    background-color: #4c9e9e;
    color: whitesmoke;
    border-radius: 5px;
}
.navbar input[type=text]{
    padding: 4px;
    font-size: 14px;

}
.content_nav{
    display: flex;
    width: 50%;
    float: right;
    margin-right: 2%;
    justify-content: space-between;
    font-size: 16px;
}
.content_nav li:hover{
   background-color: #4c9e9e;
   border-radius: 5px;
}
.content_nav li{
    padding: 5px 14px;
    display: inline;
    color: white;
}
.content_nav li a{
    color: white;
}
.navbar .hamburger_toggle {
    display: none;
}

