/*APPLYING MEDIA QUERIS*/
@media only screen and (max-width:992px){
    body{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        min-height: 100%;
        overflow-x: hidden;
        min-width: 100vw;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #202020;
        font-size: 20px;
    }
    .left-container ul, .right-container ul{
        display: none;
    }
    .intro-img{
        display: none;
    }
    .content_nav{
        display: none;
    }
    .left-class{
        display: none;
    }
    .show_nav{
        padding-top: 2%;
        display:flex;
        width: 100vw;
        height: 100vh;
        justify-content: flex-start;
        flex-direction: column;
    }
    .content li{
        width: 100%;
        height: 50px;
        font-size: 25px;
        justify-content: center;
        text-align: center;
        padding: 0;
    }
    .navbar .hamburger_toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 20px;
        display: block !important;
        cursor: pointer;
        flex-direction: column;
        text-align: center ;
        transition: all 0.3s linear;
    }
    .logo{
        width: 100%;
        justify-content: space-between;
        margin-right: 2%;
    }
    .dropbtn {
        margin-top: -18%;
        justify-content: center;
        color: #BBA14F;
        padding: 12px;
        background: transparent;
        font-size: 12px;
        border: none;
        cursor: pointer;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color:transparent;
      }
      
      .dropdown {
        float: right;
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #202020;
        min-width: 160px;
        overflow: auto;
        right: 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: #BBA14F;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown a:hover {background-color: #4c9e9e;}
      
      .show {display: block;}
    
    .active{
        display: block;
    }
    .bar1, .bar2, .bar3 {
        width: 24px;
        height: 2px;
        background-color: #BBA14F;
        margin: 6px 0;
    }
    .login-link{
        display: none;
    }
    .navbar input[type=text]{
        display: none;
    }
    img{
        display:flex;
        flex-direction: column;
    }
    .introduction .intro h1{
        font-size: 1.8rem;
        text-align: center;
        line-height: 3rem;
        padding: 0 0 .57rem 0;
    }
    .btn{
        width: 280px;
    }
    .special, .items, .menu-intro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container img, .chef img{
        display: flex;
        flex-direction: column;
    }
    .chef-word p{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu-intro h1{
        font-size: 24px;
    }
    .menu-intro p{
        display: none;
    }
    .center{
        color: white;
        position: absolute;
        top: 35%;
        bottom: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    
}
@media (max-height:800px){
	footer { position: static; }
}
@media(max-width:760px){
    #footer{
    display: flex;
    flex-direction: column;
    align-items: center;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
    }
    .ImageContainer, .chef, .chef-word{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100px;
    }
    .location-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    }