.banner{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex: 50%;
    
}
.intro{
    align-items: left;
}

p{
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
    padding: 14px;
    width: 300px;
    background-color: #202020;
    color: #BBA14F;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bolder;
    border:none;
    border-radius: 5px;
}
.btn:hover{
    background-color: #e1c564;
    cursor: pointer;
}
.more{
    padding: 12px;
    width: 150px;
    background-color: #202020;
    color: #BBA14F;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border:none;
    border-radius: 10px;
}
.res{
    padding: 4px;
    width: 100px;
    background-color: #202020;
    color: #BBA14F;
    border-radius: 20px;
    border: none;
}
.more:hover, .res:hover{ background-color: #e1c564;
    cursor: pointer;}
.divider{
    margin-left: 35%;
    align-items: center;
    width: 30%;
    height: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid #BBA14F;
    border-bottom: 1px solid #BBA14F;
}
.wrapper{
    text-align: left;
    background-color: transparent;
    flex-direction: row;
    
}
h3{
    color: #BBA14F;
    text-align: center;
     font-family: Vladimir Script;
      font-weight: bolder;
       font-size: 32px;
}
.special-menu{
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
	width: 100%;
	max-width: 1500px;
	justify-content: space-around;
	align-items: center;
}
.special{
    border-style:hidden ;
    background-color: whitesmoke;
    display: flex;
    flex: 33.33%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;   
}
.menu-btn{
    text-align: center;
}
.reservation{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #202020;
    padding: 80px 40px;
}
.reservation:hover{
    outline-width: 4px;
    border: 4px;
    cursor: pointer;
}
.location-info{
    display: flex;
    flex-direction: column;
    flex-flow: row nowrap;
	width: 100%;
	max-width: 1500px;
	justify-content: space-around;
	align-items: center;
}
 .opening-info{
    display: flex;
	flex-flow: row nowrap;
	width: 300px;
	z-index: 1;
}
.contact-info{
    justify-content: flex-start;
}
.opening-info{
    justify-content: flex-end;
}
.four{
    text-align: center;
    font-size: 22px;
    color: #202020;
}
.price{
    color: #BBA14F;
    font-size: 18px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.order{
    display: block;
    text-align: center;
    width: 100px;
    padding: 6px;
    border-radius: 8px;
    border: none;
    background-color: #BBA14F;
    color: #202020;
    margin: 0 auto;
}
.order:hover{
    cursor: pointer;
    background-color: #e1c564;
}
table{
    text-align: center;
}
td{
    text-align: center;
}
#footer{
    position: relative;
    margin-top: auto;
    height: auto;
    clear: both;
    background-color:  #2c292f;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.footer-left, .footer-center, .footer-right{
width: 100%;
}
